.if-dropdown-box{
    position: absolute;
    background-color: var(--if-bg-color);
    z-index: 7;
    padding: 0.7em;
    box-shadow: 0 0 9px 0 var(--if-secondary-col);
    border-radius: 5px;
    border: 1px solid var(--if-border-ult);
    animation: dropdownInAnim 0.4s 1;
}

@keyframes dropdownInAnim {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.if-ddown-close-anim{
    animation: dropdownOutAnim 0.4s 1;
}

@keyframes dropdownOutAnim {
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(30px);
    }
}