.if-search-box-container {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 4.5em);
    background-color: #6c6c6c1c;
    backdrop-filter: blur(5px);
    top: 4.5em;
    z-index: 9;
    display: flex;
    justify-content: center;
}

.if-search-box {
    width: 70%;
    height: 70vh;
    background-color: var(--if-bg-color);
    box-shadow: 0 2px 7px 0 #0000003f;
    border-radius: 5px;
    padding: 1em;
    overflow-x: auto;
}

.if-recom-search-container{
    display: flex;
    flex-flow: wrap;
    gap: 0.5em;
}

.if-recom-search-line{
    list-style: none;
    background-color: #c3ddf6;
    padding: 0.3em 0.7em;
    width: fit-content;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    max-width: 20em;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: filter 0.3s;
    color: #111111;
}

.if-recom-search-line:hover{
    filter: brightness(0.9);
}

/***** search line css *****/
.if-search-line {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    gap: 1em;
    align-items: center;
    padding: 0.5em;
    transition: background-color 0.3s;
    cursor: pointer;

    & i {
        font-size: 1.1em;
    }
}

.if-search-line:hover{
    background-color: #79797942;
}

/***** End search line css *****/



/***** Responsive css *****/
@media screen and (max-width: 860px) {
    .if-search-box {
        width: 90vw;
    }
}

@media screen and (max-width: 575px) {
    .if-search-box {
        width: 100vw;
    }

    
}


@media screen and (max-width: 480px) {
    .if-search-box-container {
        position: unset;
        width: 100%;
        height: fit-content;
        backdrop-filter: unset;
        top: unset;
        z-index: unset;
        display: flex;
        justify-content: unset;
        background-color: var(--if-bg-color);
    }

    .if-search-box {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: unset;
        box-shadow: unset;
        border-radius: unset;
        padding: 0;
    }

    .if-recom-search-line{
        max-width: 95vw;
    }
}

/***** End Responsive css *****/